body {
  background-color: #111;
  color: #fff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

main {
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bubbles {
    transition: transform 2.0s ease, opacity 1.16s ease, left .16s ease, top .16s ease, right .16s ease, bottom .16s ease;
    position: fixed;
    z-index: -1; 
    background-color: #BC987E; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    transform: scale(1);
    opacity: 0;
    filter: blur(30px);
    backdrop-filter: blur(200px); 
}

.bubble-hide {
    transform: scale(0);
    opacity: 0 !important;
} 

#converter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.value-box {
  margin: 1rem;
  padding: 2rem;
  border: 1px solid #BC987E;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.value-box h2 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

span {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.buttons {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

button {
  width: 50px;
  height: 40px;
  border: none;
  background-color: #BC987E;
  border-radius: 5px;
  font-size: 18px;
  padding: 5px;
  cursor: pointer;
  transition: color 0.15s ease, border-color 0.15s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover,
button:focus,
button:active {
  color: #111;
  border-color: #111;
}
